<pre>
Angular Project Structure:
==========================
package.json			Contains package specific information like bower, gulp, grung etc.
karma.conf.js			Contains testing related information
angular.json			Contains angular components related information.
style.css				Contaions global styles
test.ts					//
polyfills.ts			Contaions browser compatibility scripts

index.html				Contains Global styles, Js files
main.ts
app> app.module.ts
        app.component.ts
        app.component.spec.ts
        app.component.html				//Main Html page for Landing page...
        app.component.css
        app-routing.module.ts
        
assets> images

>mkdir loggedin
>ng g c loggedin/homePage			//Check if its working.
</pre>