<pre>
Installing NodeJS: (https://nodejs.org/dist/v10.16.3/node-v10.16.3-win-x64.zip)
==================
Download node.js portabale binaries
unzip it.
set path variable as per os..
>node -v  //Node js
v10.16.3
>npm -v   //Package Manager
6.9.0

Installing IDE's(VS-Code https://code.visualstudio.com/download#):
================
unzip it and add to path variable. and run it to open project.

Installing Anguar using NPM:
============================
Install NG Client: https://cli.angular.io/
Angular Intro: https://angular.io/docs
>npm install -g @angular/cli
>ng --version
>ng new my-dream-app  //Add routing, Style sheet option.
>cd my-dream-app
>ng serve			  //localhost:4200

Few other commands to try:
==========================
>ng help
>ng generate --help

>ng build my-dream-app -c production
>npm i rxjs-compat --save
>ng g c cockpit --spec false
</pre>
        